@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 500;
    src: local('Bebas Neue Bold'),
    url('BebasNeueBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 300;
    src: local('Fjalla One Regular'),
    url('FjallaOneRegular.woff2') format('woff2');
}

@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 300;
    src: local('Karla Regular'),
    url('KarlaRegular.woff2') format('woff2');
}

@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: bold;
    src: local('Karla Bold'),
    url('KarlaBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Karla';
    font-style: italic;
    font-weight: 300;
    src: local('Karla Italic'),
    url('KarlaItalic.woff2') format('woff2');
}
